.chatuser{
    background-color: #fefefe;
    display: flex;
    width: 100%;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(234, 233, 233);
}
.chatuser:hover{
    background-color: #f4f4f4;
}
.avatar{
    padding: 0rem 0.5rem;
}
.message{
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem;
}
.username{
    font-size: large;
    font-weight: 600;
    color: #585a5b;
    padding-bottom: 0.2rem;
}
.lastmessage{
    font-size: small;
}